.announcement-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.announcement {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
  background-color: white;
  border-radius: 0.4rem;
  border: 0.1rem solid #bdbfbf;
  padding: 1rem;

  &__footer {
    display: flex;
    flex-direction: column;
  }
}

.reactions {
  display: flex;
  gap: 1rem;
}

.tags {
  display: flex;
  gap: 1rem;
  .tag {
    padding: 0.5rem;
    border-radius: 0.4rem;
    background-color: white;
  }
  .tag.active {
    background-color: rgba(212, 90, 90, 1);
    color: white;
  }
}

.announcement-title {
  font-weight: bold;
}

.icon {
  width: 1rem;
  height: 1rem;
}

.buttons {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  height: 2rem;
}

select {
  width: 100px;
}

span {
  input {
    height: 2rem;
    max-width: 4rem;
    min-width: 4rem;
    padding: 0.5rem;
  }
}

.flex {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}
