.login-header {
  display: flex;
  gap: 1rem;
}

input {
  min-width: 24rem;
  height: 4rem;
  border: 0.1rem solid #bdbfbf;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
  border-radius: 0.4rem;
  font-family: 'Regular';
  font-size: 1.4rem;
  color: #242626;
  box-sizing: border-box;

  &::placeholder {
    font-family: 'Regular';
    font-size: 1.4rem;
    color: #595f60;
  }
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.error {
  position: absolute;
  bottom: -1.5rem;
  color: rgba(212, 90, 90, 1);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.4rem;
  width: 12rem;
  height: 4rem;
  cursor: pointer;
}

.btn-label {
  font-size: 1.6rem;
  line-height: 2rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.relative {
  position: relative;
}
